body {
  margin: 0;
  --mdc-theme-primary: #d0d0d0;
}

#header-logo {
    width: 32px;
    height: 32px;
}

#logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
}

.title {
    color: #202124;
}

main {
    margin-left: 32px;
    margin-right: 32px;
    max-width: 864px;
}

#back {
    margin-top: 16px;
    color: #56d66f;
}

.idc-loginbtn_intensedebate {
    display: none !important;
}
